.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.DS_Store
*.log
*.tmp
node_modules/
build/
dist/
*.egg-info/
movies.csv
credits.csv
movies_dict.pkl
similarity.pkl